*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
}

body{
    background-color: #f2f2f2;
    /* One-dim layout system with row or column */
    display: flex;
    /* min-height: 100vh; */
}

.profile-card {
    width: 450px;
    /* For curving the edges */
    border-radius: 8%;
    background-color: #fff;
    /* Box shadow offset x, offset y, blur, spread , color */
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;   /* Nothing goes outside the card*/

}

#back-img {
    /* Makes the image fill the container */
    width: 100%; 
    height: 180px;
    /* Takes full width available */
    display: block;
    border-radius: 20px 20px 0px 0px;
    /* To apply gradient at base */
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
}

#profile-img {
    /* Positions the image in relative to the card */
    position: absolute;
    width: 20%;
    height: 18%;
    top: 110px;
    left: 20px;
    border-radius: 50%;
    border: black 3px solid;
}

#bookmark{
    position: absolute;
    width: 10%;
    height: 10%;
    top: 100px;
    right: 20px;
    border-radius: 50%;
}

.content{
    /* padding: top, right, bottom, left */
    padding:15px 25px 35px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

span{
    font-size: 60%;
    color: grey;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats{
    display: flex;
    justify-content: space-between;
}

.stats div{
    position: relative;
    padding-right: 35px;
}

.stats div:not(:last-child)::after{
    content:"";
    position:absolute;
    width:1px;
    height:45px;
    right:10px;
    top:5px;
    background:#ddd;
}

button{
    border-radius: 60px;
    width: 50%;
    background-color: black;
    color: white;
    padding: 20px 20px;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: red;
}
